image_search
main.ipynb
main.py
search_config.json
glimpse-front/node_modules
electron/node_modules
electron/backend
__pycache__
desktopvenv
backend/data/cache_dir
backend/data/artifacts
test_images
backend/data/face_vector_store
backend/data/image_vector_store
backend/data/person_vector_store
backend/data/thumbnails
face_test.py
test.py
electron/node_modules
glimpse.db
hello

serve_with_port.py
desktop_app
venv
dist
build
glimpse
commends
test.py
gpu_venv
electron

glimpse_cpu_venv